@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
  margin-bottom: 50px;
}

img {
  height: 40px;
  width: 40px;
}

.active {
  color: PINK;
  background-color: brown;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.followers-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80vh;
}
